.cerrarSesion{
    &-logout{
        display: flex;
        justify-content: flex-end;
    }
}

ul{
        padding-left: 50px;
}

li{
    color: rgb(255, 0, 0);
    font-size: 25px;
}

/*.navbar-bar{
    display: flex;
        justify-content: flex-end;
}*/

.barraNavegacion{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(204, 218, 191);
    position: relative;
    &-logout{
        position: absolute;
        right: 5px;
    } 
}

.fas{
    color: black;
}

a{
    color: black;
    :hover{
        background-color: rgb(255, 0, 0);
    }
}

.nav-item{
    border-radius: 5px;
        :hover{
            background-color: rgba(255, 255, 255, 0.296);
    }
}

