body {
  background-color: #ffffff !important;
}

.titulosUsuario {
  color: black;
}

/*menu navegacion Usuario*/
.barraNavegacion {
  display: flex;
  flex-direction: column;
  color: white !important;
  background-color: black;
  position: relative;
  font-size: 24px;
}
.barraNavegacion-logout {
  position: absolute;
  right: 5px;
}

.home {
  padding-left: 15px;
}

.nav-link {
  color: black;
}

a {
  color: white !important;
}

h1 {
  color: black;
}

/*
button{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 0px;
    width: 220px; 
    &:hover{
        background: rgb(95, 94, 94);
        color: rgb(255, 255, 255);
    }
}*/
.boton {
  padding-right: 10px;
}

img {
  height: 180px;
  width: 180px;
}

/*ESTILOS CARD PARA perfilUsuario perfilCelador*/
.contorno {
  display: flex;
  justify-content: center;
}
.contorno-cardPerfiles {
  display: flex;
  justify-content: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px #0000007b;
  border-radius: 25px;
  opacity: 1;
  width: 600px;
  height: 250px;
}
.contorno-cardPerfiles-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contorno-cardPerfiles-cuerpoCard {
  display: flex;
  flex-direction: column;
}
.contorno-cardPerfiles-cuerpoCard-nombreTitulo {
  color: white;
}
.contorno-cardPerfiles-cuerpoCard-infoUsuario {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.contorno-cardPerfiles-botonCard {
  display: flex;
  justify-content: center;
}
.contorno-cardPerfiles-botonCard-linkCard {
  position: absolute;
  bottom: 10px;
  background: white;
  color: black !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}
.contorno-cardPerfiles-botonCard-linkCard:hover {
  background: #cecbcb;
  color: black;
}

/*ESTILOS PARA PAGINA SELECCION usuario y celador*/
.containerCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerCards-elegir {
  display: flex;
  justify-content: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px #0000007b;
  border-radius: 25px;
  opacity: 1;
  width: 500px;
  height: 200px;
}
.containerCards-elegir-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerCards-elegir-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.containerCards-elegir-info-titulo {
  color: white;
}
.containerCards-elegir-info-botonCard {
  display: flex;
  justify-content: center;
}
.containerCards-elegir-info-botonCard-linkCard {
  position: absolute;
  bottom: 10px;
  background: white;
  color: black !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}
.containerCards-elegir-info-botonCard-linkCard:hover {
  background: #cecbcb;
  color: black;
}

/*ESTILOS PARA PAGINA SELECCION TIPO TRANSPORTE bici o moto*/
.containerCardMotoBici {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
.containerCardMotoBici-elegir {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px #0000007b;
  border-radius: 26px;
  opacity: 1;
  width: 400px;
  height: 300px;
}
.containerCardMotoBici-elegir:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a !important;
  box-shadow: 0px 3px 16px #000000dc;
  opacity: 1;
  width: 405px;
  height: 305px;
}

/*
.card-x{
    display: flex;
    justify-content: center;
    background: #000000 !important;
    box-shadow: 0px 3px 16px #0000007b;
    border-radius: 25px;
    opacity: 1;
    width: 600px;
    height: 250px;
} */
.cardInfoUsuario {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CREAR USUARIO*/
.crearUsuario {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.containerBotonCrear {
  display: flex;
  justify-content: end;
}

.botonCrearUsuario {
  background: white;
  color: black;
  border-radius: 15px;
  border: 0px;
  width: 200px;
  padding: 5px;
  font-size: 20px;
}
.botonCrearUsuario:hover {
  background: #cecbcb;
  color: black;
}

/*CONSULTAR*/
.consultar {
  background-color: #d8cfcf;
  width: 900px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.186);
  border-radius: 10px;
}

.tituloConsulta {
  color: black;
}

.consultarr {
  width: 900px;
  padding: 20px;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  border-radius: 10px;
  opacity: 1;
}

tbody {
  color: white;
}

.fa-search {
  color: white;
  font-size: 150px;
}

#bici {
  color: white;
  font-size: 150px;
}

.fa-bicycle {
  color: white;
  font-size: 200px;
}

.fa-motorcycle {
  color: white;
  font-size: 200px;
}

.fa-user {
  color: white;
  font-size: 150px;
}

.fa-pencil-ruler {
  color: black;
}

.iconos {
  color: black;
}

.fa-camera {
  color: black;
}

.fas {
  color: white;
}

/*CONSULTA TRANSPORTE*/
.containerTransporte {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.containerTransporte-consultaTransporte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerTransporte-consultaTransporte-card {
  width: 330px;
  padding: 20px;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.containerTransporte-consultaTransporte-card-pin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-color: #0a0a0a;
}

/*
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-title{
    color: white;
}
.card-text{
    display: flex;
    flex-direction: row;
    color: white;
} 
*/
/*
.botonCard{
    display: flex;
    justify-content: center;
    &-linkCard{ 
        position: absolute;
        bottom: 10px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0) !important;
        border: 0px;
        width: 220px; 
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        &:hover{
            background: rgb(206, 203, 203);
            color: rgb(0, 0, 0);
        }
    }
}
*/
.hola {
  display: flex;
  justify-content: center;
}

.consultaCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTransporteColor {
  background-color: black !important;
}

.crearTransporte {
  background: #f80000;
  border-radius: 10px;
}

#crearTrasnporte-label {
  color: white;
}

#tituloTransporte {
  color: black;
}

.crearTraan {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.cardTrasnporrt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #d53a3a;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 18px;
}

.botonCrearTransporte {
  background: white;
  color: black;
  border-radius: 15px;
  border: 0px;
  width: 200px;
  padding: 5px;
  font-size: 20px;
}
.botonCrearTransporte:hover {
  background: #cecbcb;
  color: black;
}

.botonAtrasTransporte {
  background: transparent;
  color: white;
  border-radius: 15px;
  border: 1px;
  border-color: white;
  width: 200px;
  padding: 5px;
  font-size: 20px;
}

.b {
  background: white;
}
.b-botonVolver {
  position: absolute;
  bottom: 10px;
  background: white !important;
  color: black !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}
.b-botonVolver:hover {
  background: #cecbcb;
  color: black;
}

.nav-item {
  border-radius: 5px;
}
.nav-item :hover {
  background-color: rgba(255, 255, 255, 0.296);
}

/*# sourceMappingURL=stylesUsuario.css.map */
